.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Ocupa al menos el 80% del alto de la ventana */
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa; /* Un fondo gris claro para la sección */
  color: #343a40; /* Color de texto oscuro para contraste */
  font-family: "Arial", sans-serif; /* Fuente genérica amigable */
}

.container h1 {
  color: #0056b3; /* Un azul institucional para el título */
  margin-bottom: 20px;
  font-size: 2.5em; /* Tamaño de fuente más grande para el título */
  font-weight: bold;
}

.container p {
  font-size: 1.1em;
  line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
  margin-bottom: 10px;
  max-width: 700px; /* Limita el ancho de los párrafos para que no sean demasiado largos en pantallas grandes */
}

/* Opcional: Media queries para responsividad en pantallas más pequeñas */
@media (max-width: 768px) {
  .container h1 {
    font-size: 2em;
  }

  .container p {
    font-size: 1em;
  }
}
