.title {
  /* color: #0056b3; */
  color: #0056b3;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  position: fixed;
  width: 100%;
  top: 0;
}

.link {
  /* Tus estilos base para los enlaces */
  color: #0056b3; /* Ejemplo */
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.link:hover {
  color: #98a3d0; /* Ejemplo de color al pasar el ratón */
}

/* Estilo para el enlace activo */
.link.active {
  font-weight: bold;
  color: #0056b3 !important;
  border-bottom: 2px solid #98a3d0;
}
.userSection {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
}

.iconUser {
  color: #0056b3;
  padding: 0 10px 0 0;
}

.dropdown {
  color: #0056b3 !important;
  display: inline-block;
}

@media screen and (max-width: 575px) {
  .link.active {
    background-color: #0057b323;
    border-bottom: none;
  }
}
@media screen and (max-width: 991px) {
  .navbar {
    position: unset;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
